h1 {
  font-size: 100px;
  text-align: center;
}

img {
  display:inline-block;
  margin: 15px;
  width: 300px;
  height: 300px;
}

button {
  font-size: 20px;
  margin: 10px;
}

#start {
  display: block;
}

#middle {
  display: none;
}

#end {
  display: none;
}

#timer {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.circle{
  width: 40px;
	height: 40px;
}
